<!-- Footer -->
<footer class="page-footer font-small blue">
  <a class="btn-floating btn-lg purple-gradient"><i class="fa fa-bolt"></i></a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Developer Ashutosh

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->