<h1>Welcome</h1>

  <div class="jumbotron"><h3><p>Welcome to StoryBook app 1.0.0</p></h3>
<p>Post stories from your personal expriences from the best and the worst part of your life and choose them to be read by the world ot make it as your own private dairy </p>
<a href="/auth/google" class="btn btn-danger" style="margin: 0 30% auto"><i class="fa fa-google" aria-hidden="true" style="font-size:24px"></i> Login With Google</a></div>